<div class="col-md-4 offset-md-4">
    <form #signupForm="ngForm" (ngSubmit)="signupUser()"  >
        <div class="form-group row">
            <label for="firstname" class="col-sm-3 col-form-label col-form-label-sm">First Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" placeholder="First Name" required
                minlength="3" name="firstName" [(ngModel)]="signup.firstName" #firstNameVar="ngModel" [ngClass]="{
                    'is-invalid':
                      (firstNameVar.touched || firstNameVar.dirty) &&
                      !firstNameVar.valid
                  }" />
            <span class="invalid-feedback">
                <span *ngIf="firstNameVar.errors?.required">
                    FirstName is required
                </span>
                <span *ngIf="firstNameVar.errors?.minlength">
                    First Name isn't long enough, minimum of 3 characters
                </span>
            </span>
        </div>

      </div>  

<div class="form-group row">
        <label for="lastName" class="col-sm-3 col-form-label col-form-label-sm">Last Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" placeholder="Last Name" required
                minlength="3" name="lastName" [(ngModel)]="signup.lastName" #lastNameVar="ngModel" [ngClass]="{
                    'is-invalid':
                      (firstNameVar.touched || firstNameVar.dirty) &&
                      !firstNameVar.valid
                  }" />
            <span class="invalid-feedback">
                <span *ngIf="lastNameVar.errors?.required">
                    Last Name is required
                </span>
                <span *ngIf="lastNameVar.errors?.minlength">
                    Last Name isn't long enough, minimum of 3 characters
                </span>
            </span>
   </div>
   </div>

   <div class="form-group row">
    <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
    <div class="col-sm-9">
        <input type="email" class="form-control form-control-sm" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"
            required minlength="6" name="email" [(ngModel)]="signup.email" #emailVar="ngModel"
            [ngClass]="{
    'is-invalid':
      (emailVar.touched || emailVar.dirty) && !emailVar.valid
  }" />
        <span class="invalid-feedback">
            <span *ngIf="emailVar.errors?.required">
                Email is required
            </span>
            <span *ngIf="emailVar.errors.pattern">
                Invalid email address
            </span>
        </span>
    </div>
</div>

<div class="form-group row">
    <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Phone No</label>
    <div class="col-sm-9">
        <input type="text" class="form-control form-control-sm" id="phoneno" placeholder="Phone Number"
            required minlength="10" name="phoneno" [(ngModel)]="signup.phoneNumber" #phonenoVar="ngModel"
            [ngClass]="{
    'is-invalid':
      (phonenoVar.touched || phonenoVar.dirty) && !phonenoVar.valid
  }" />
        <span class="invalid-feedback">
            <span *ngIf="phonenoVar.errors?.required">
                Phone Number is required
            </span>
            <span *ngIf="phonenoVar.errors?.minlength">
                Phone Number isn't long enough
            </span>
        </span>
    </div>
</div>






<div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label col-form-label-sm">Username</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="username" placeholder="User Name"
                required minlength="6" name="username" [(ngModel)]="signup.userName" #usernameVar="ngModel"
                [ngClass]="{
        'is-invalid':
          (usernameVar.touched || usernameVar.dirty) && !usernameVar.valid
      }" />
            <span class="invalid-feedback">
                <span *ngIf="usernameVar.errors?.required">
                    User Name is required
                </span>
                <span *ngIf="usernameVar.errors?.minlength">
                    User Name isn't long enough, minimum of 6 characters
                </span>
            </span>
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Password</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="password" placeholder="Password"
                required minlength="6" name="password" [(ngModel)]="signup.password" #passwordVar="ngModel"
                [ngClass]="{
        'is-invalid':
          (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid
      }" />
            <span class="invalid-feedback">
                <span *ngIf="passwordVar.errors?.required">
                    Password is required
                </span>
                <span *ngIf="passwordVar.errors?.minlength">
                    password isn't long enough, minimum of 6 characters
                </span>
            </span>
        </div>
    </div>

   
<div class="form-group row">
    <div class="col-sm-12">
        <button type="reset" class="btn btn-outline-danger">
            Clear Form
        </button>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!signupForm.valid">
            Sign up
        </button>
    </div>
</div>
    </form>
    
</div>
    
