<ul class="nav nav-pills" style="text-align: center;">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/products']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/products/category/']">Automative</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Baby Care</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bags Wallets & Belts</a>
    </li>
    
  </ul>
<div class="container">
    <div class="row">
     <div class="col-md-3 mx-auto my-5" *ngFor="let card of product">   
    <div class="card"  >
    <img class="card-img-top" src="{{card.image_url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text" style="color: blue;">{{card.name}}</p>
      <p class="card-text">{{card.price}}</p>
    </div>
  </div>
</div>
</div>
</div>

